* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  /*font size: 10px*/
  /*10px / 16px = 0.625 = 62.5 */
  /*Percentage of user's browser font-size setting*/
  font-size: 62.5%;
}
.container {
  height: 100vh;
  padding: 0 18rem;
  background-color: #000000;
}

.container .header-box .header-calculator {
  color: rgb(240, 131, 22);
  text-align: center;
  font-size: 3.5rem; /*50px*/
  font-weight: 600;
  padding-top: 2rem;
  font-weight: 700;
}
.container .calculator-input-box {
}
.container .input-box {
  direction: ltr;
  text-align: right;
  padding-top: 4rem;
  color: white;
  font-size: 8rem;
  padding-right: 36rem;
}

.calculator-input-box .calculator-inputs-grid {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
  font-size: 2rem;
  row-gap: 1rem;
  column-gap: 0;
  justify-content: center;
  align-items: center;
}

.calculator-input-box .calculator-inputs-grid .buttons-orange {
  background-color: #ff9800;
  color: #ffff;
}

.calculator-input-box .calculator-inputs-grid .buttons-grey {
  background-color: #a7a6a7;
}

.calculator-input-box .calculator-inputs-grid .buttons {
  background-color: #333333;
  color: #ffff;
}

.calculator-input-box .calculator-inputs-grid .buttons,
.calculator-input-box .calculator-inputs-grid .buttons-orange,
.calculator-input-box .calculator-inputs-grid .buttons-grey {
  width: 10rem;
  height: 10rem;
  font-size: 2.8rem;
  border-radius: 100%;
}
